* {
  margin: 0;
  padding: 0;
}

html {
  position: absolute;
  height: 100%;
  width: 100%;
  background:#5d7a55;  
  font-family: 'DotGothic16', sans-serif;
  background-image: url('assets/wallpaper.png');
  background-repeat: repeat;
  background-size: 60%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
}
  
header {
  position: fixed;
  margin: 10px;
  border-radius: 25px;
  padding: 15px;
  width: 1000px;
  max-width: 90%;
  background-color: #efefef95;
  font-style: DotGothic16;
  z-index: 1;
}

.left, .center {
  position: absolute;
  display: inline;
  top: 50%;
  transform: translateY(-50%)
}

.left {
  left: 5px;
}

.center {
  left: 50%;
  translate: -50%;
}

button {
  background-color: #e3deac;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 22px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  font-style: DotGothic16;
  padding: 18px;
  --ggs: 0.9;
}

button:hover {
  background-color: #E8E4C5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.grid .item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-style: DotGothic16;
  color: #fff;
  border-radius: 25px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.item {
  position: relative;
  width: 100%;
  aspect-ratio: 4/5;
}

.item .image, .item .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item .image {
  transform: scale(0.8)
}

.copyright {
  font-style: DotGothic16;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E8E4C5;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content 
{display: block;}

.artist {
  height: 10px;
}