* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  background:#5d7a55;  
  font-family: 'DotGothic16', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
}
  
header {
  position: relative;
  margin: 10px;
  border-radius: 25px;
  padding: 15px;
  width: 1000px;
  background-color: #efefef95;
  font-style: DotGothic16;
}

.left, .center {
  position: absolute;
  display: inline;
  top: 50%;
  transform: translateY(-50%)
}

.left {
  left: 15px;
}

.center {
  left: 50%;
  translate: -50%;
}

button {
  background-color: #e3deac;
  border: none;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 22px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  font-style: DotGothic16;
}

button:hover {
  background-color: #E8E4C5;
}