html {
  height: 100%;
  width: 100%;
  margin: 0; background:#5d7a55;  
  font-family: 'DotGothic16', sans-serif;
}

h1 {
  font-size: 48px;
}
  
.shopcontainer {
 border-radius: 25px;
  border: 2px solid #fff;
  padding: 20px;
  width: 1000px;
  height: 15px;
  opacity: .6;
  background-color: #fff;
  font-style: DotGothic16;
  align-items: center;
  justify-content: center;
  display: flex;
}


.logospace {
    height: 200px;
    display: flex;
    align-items: bottom center;
    justify-content: center;
}

.buttonstyle {
  background-color: #E3D251;
  border: none;
  color: white;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  font-style: DotGothic16;
  position: relative;
  float: left;
}

.button1:hover {
  background-color: #E8E4C5;
  color: white;
}