* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  background:#5d7a55;  
  font-family: 'DotGothic16', sans-serif;
}

html:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-image: url('assets/wallpaper.png');
  background-repeat: repeat;
  background-size: 60%;
  z-index: -1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 65px;
}

h1 {
  font-size: 48px;
}
  
header {
  position: fixed;
  margin: 10px;
  border-radius: 25px;
  padding: 15px;
  width: 1000px;
  background-color: #efefef95;
  font-style: DotGothic16;
}

.left, .center {
  position: absolute;
  display: inline;
  top: 50%;
  transform: translateY(-50%)
}

.left {
  left: 15px;
}

.center {
  left: 50%;
  translate: -50%;
}

button {
  background-color: #e3deac;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 22px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  font-style: DotGothic16;
  padding: 18px;
  --ggs: 0.9;
}

button:hover {
  background-color: #E8E4C5;
}