* {
  margin: 0;
  padding: 0;
}

html {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #5d7a55;
  font-family: "DotGothic16", sans-serif;
  background-image: url("assets/wallpaper.png");
  background-repeat: repeat;
  background-size: 60%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding-top: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;
}

header {
  position: fixed;
  margin: 10px 0;
  border-radius: 25px;
  padding: 15px;
  width: 1000px;
  max-width: 90%;
  background-color: #efefef95;
  font-style: DotGothic16;
  z-index: 1;
  display: flex;
  transform: translateX(-50%);
  left: 50%;
}

.left,
.center {
  position: absolute;
  display: inline;
  top: 50%;
  transform: translateY(-50%);
}

.left {
  left: 0.01px;
}

.center {
  left: 50%;
  translate: -50%;
}

button {
  background-color: #e3deac;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 22px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 25px;
  font-style: DotGothic16;
  padding: 15px;
  --ggs: 0.9;
}

button:hover {
  background-color: #e8e4c5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1000px;
  grid-gap: min(40px, 3vw) 5%;
  padding: 5% 0;
}

.grid .item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-style: DotGothic16;
  color: #fff;
  border-radius: 25px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: relative;
  width: 100%;
  aspect-ratio: 4/5;
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}

/* Flip effect */
.grid .item .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.grid .item:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  box-shadow: 0 15px 15px 5px rgba(0, 0, 0, 0.3);
}

.flip-card-back {
  background-color: #4f663d;
  border-radius: 10px;
  color: #fff;
  transform: rotateY(180deg);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.description {
  padding: 20px;
  flex: 1; 
  font-size: 23px;
  white-space: normal; 
  word-wrap: break-word; 
}


.image,
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame {
  transform: scale(1.22);
}

.logo {
  width: 90%;
  max-width: 300px;
  position: relative;
  margin: 0 auto;
}

.copyright {
  font-style: DotGothic16;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  z-index: 6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e8e4c5;
  min-width: 160px;
  z-index: 1;
  border-radius: 25px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img {
  max-width: 100%;
}


.textbox {
  padding: 15px;
  width: 50%; 
  font-size: 16px;
  margin-right: auto;
  background-color: #efefef95;
  border-radius: 15px;
}

a {
  color: #283525;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist {
  width: 300px;
  height: 400px;
  position: relative;
  border-radius: 15px;
  margin-right: 10px; 
  max-width: 100%; 
  height: auto; 
  display: block;
}

.pagetext {
  flex: 1; 
  padding: 15px;
  font-size: 30px;
  background-color: #efefef95;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column; 
  }

  .artist {
    width: 100%; 
    margin-right: 0; 
  }
}

@media (max-width: 767px) {
  .description {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}